Flask==2.0.1
Flask-Cors==3.0.10
Flask-Mail==0.10.0
Flask-MySQLdb==2.0.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.2
gunicorn==23.0.0
mysqlclient==2.2.7
opencv-python==4.7.0.72
Pillow==10.1.0
Werkzeug==2.0.1
WTForms==3.2.1
